// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

$red: #FF7478;
$blue: #DA75FF;
$yellow: #FEE600;
$orange: #FFCD20;
$green: #2CD998;


$gray: #0E0000;
$light-gray: #F4F4F4;
