// body.home_background {
//   background-image: url("background_temp.png");
//   // background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   justify-content: center;
//   position: relative;
// }

// .green_flower_position {
//   position: absolute;
//   background: url("green_long_f.png");
//   background-size: 50px;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   background-repeat: no-repeat;
//   right: 20px;
//   top: -10px;
//   // &:hover {
//     // color: white;
//     // opacity: 1;
//   }
.homebody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.title {
  font-size: 80px;
  // font-family: "Jersey 10", sans-serif;
  // text-transform: uppercase;
  text-align: center;
  // background: linear-gradient(to right, #c29f4d 0, #ded658 10%, #c29f4d 20%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // animation: animate 4s linear infinite;
  // margin: -85px;
}


@keyframes  animate {
  0% {
    background-position: 80px;
  }
  50% {
    background-position: 400px;
  }
  100% {
    background-position: 450px;
  }
}

.homecard{
  width: 90%;
  max-width: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Optional: subtle shadow for depth
  padding: 20px; // Optional: internal padding for content
  text-align: center;
  border: 4px solid black;
}

.homebutton{
  border-radius: 24px!important;
  border: 3px solid black;


}
