
.homebody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh;
  margin-top: 8vh;
  margin-bottom: 9vh;
}

.title {
  font-size: 108px;
  font-family: "Jersey 10", sans-serif;
  // text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
  // background: linear-gradient(to right, #c29f4d 0, #ded658 10%, #c29f4d 20%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // animation: animate 4s linear infinite;
  // margin: -85px;
}

.title-bottom {
  margin-top: -4rem !important;
  font-size: 108px;
  font-family: "Jersey 10", sans-serif;
  text-align: center;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
}


@keyframes  animate {
  0% {
    background-position: 80px;
  }
  50% {
    background-position: 400px;
  }
  100% {
    background-position: 450px;
  }
}


.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homecard {
  width: 90%;
  max-width: 400px;
  background-color: white;
  border-radius: 20px;
  text-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  border: 4px solid black;
  position: relative; /* Establishes a positioning context for absolutely positioned children */
  z-index: 2; /* Ensures the card content is above the background image */
}

.image-back {
  position: absolute;
  top: -93px; /* Adjust this value to control the vertical position */
  left: -20px; /* Adjust this value to control the horizontal position */
  width: 111%; /* Adjust as needed to cover more of the container's width */
  height: 46%; /* Adjust as needed to cover more of the container's height */
  object-fit: cover; /* Ensures the image covers the specified area without distortion */
  z-index: 1; /* Places the image behind the card content */
}

  .image-back-pakkun {
  position: absolute;
  top: -72px;
  left: 30px;
  width: 31%;
  height: 31%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

.image-back-sun {
  position: absolute;
  top: -70px;
  left: 227px;
  width: 28%;
  height: 28%;
  object-fit: cover;
  z-index: 1;
}

.image-front {
  position: absolute;
  top: -3px;
  left: 18px;
  width: 90%;
  height: 18%;
  object-fit: cover;
  z-index: 3; /* Places the image above the card content */
}

.flower1-front {
  position: absolute;
  top: -66px;
  left: 130px;
  width: 28%;
  height: 24%;
  object-fit: cover;
  z-index: 4; /* Places the image above the card content */
  transition: opacity 0.5s ease-in-out;
  }

.flower2-front {
  position: absolute;
  top: -14px;
  left: 221px;
  width: 12%;
  height: 10%;
  object-fit: cover;
  z-index: 4; /* Places the image above the card content */
  }

  .flower3-front {
    position: absolute;
    top: -14px;
    left: 93px;
    width: 12%;
    height: 10%;
    object-fit: cover;
    z-index: 4; /* Places the image above the card content */
    }


.homebutton{
  border-radius: 24px!important;
  border: 3px solid black;
}

.info-card {
  width: 90%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  text-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  // border: 4px solid black;
  position: relative;
}

.sub-image-front {
  position: absolute;
  top: -39px;
  left: 108px;
  width: 37%;
  height: 20%;
  object-fit: cover;
  z-index: 3;
}

.info-card-wrapper {
  display: flex;
  justify-content: center; /* Centers the card horizontally */
  align-items: center; /* Centers the card vertically (if needed) */
  width: 100%; /* Full width to center-align child elements */
  margin-top: 20px; /* Adds space between the last element and the new card */
}

.homebody-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0vh;
  margin-top: 2vh;
  margin-bottom: -11vh;
}
