.new-household-form {
  width: 360px;
  margin: 0 auto;

  .submit {
    display: flex;
    justify-content: center;
  }

  // .submit-btn {
  //   // styling
  // }
}

.edit-household-form {
  width: 360px;
  margin: 0 auto;

  .submit {
    display: flex;
    justify-content: center;
  }
  // .edit-btn {
  //   //styling
  // }

}
