.household-show {
  margin: 8px;
  padding: 16px;
  background-color: white;
  border: 1px black solid;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .card {
    width: 100%;

    background-color: white;
    border-radius: 8px;

    border: 1px solid black ;



    .img1{
      width: 80%;
      height: 80%;
      object-fit: contain;
      display: block;
      margin: 0 auto;

    }

    .card-body {

      h5{
        text-decoration: underline;
      }
    }

  }

  .household-show-members {
    width: 100%;
    // border: 1px black solid;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: $light-gray;
    border-radius: 16px;
    margin-top: 8px;

    .section-title {
      width: 100%;
      padding: 8px;
      background-color: $warning;
    }

    .user-show-members{
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 8px;
    }

    .profile-pic-placeholder {
      width: 40px;
      height: 40px;
      // background-color: red;
      border: 1px black solid;
      border-radius: 50%;
      margin-left: 12px;
      margin-right: 12px;

    }
    .profile-pic {
      width: 100%; /* Ensure image fills the container */
      height: 100%; /* Ensure image fills the container */
      object-fit: cover; /* Cover the container without distortion */
      border-radius: 50%; /* Makes the image circular */
    }

    .user-show-member-profiles {
      text-align: center;
      margin: 0 auto;
    }

    p {
      font-size: 12px;
    }
  }

  .household-show-tasks {
    width: 100%;
    margin: 16px 0px;
    padding: 16px;
    background-color: $light-gray;
    border-radius: 16px;
  }

  .chores-box {
    width: 100%;
    margin: 16px 0px;
    padding: 16px;
    background-color: $light-gray;
    border-radius: 16px;
  }

  .card {

  }


  .household-show-calendar {
    width: 100%;
    border-radius: 16px;

    .section-title {
      padding: 8px;
      width: 100%;
      background-color: $warning;
    }
  }


  .accordion {
    background-color: $light-gray;
    color: #000000;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 16px;
  }

  .panel {
    padding: 0px;
    display: none;
    background-color: white;
    overflow: hidden;
    width: 100%
  }

  .active, .accordion:hover {
    background-color: $warning;
  }

  #add-task-btn, #view-task-btn{
    .btn {
      border-radius: 50px;
      border: 1px black solid;
      width: 100%;
      background-color: $light-gray;
    }

  }

  .active, #add-task-btn:hover, #view-task-btn:hover {
    .btn {
      background-color: $warning;
      border: 1px black solid;
    }
  }

  .semi-panel {
    padding: 0px;
    display: none;
    background-color: $light-gray;
    overflow: hidden;
  }


  .card-product {
    overflow: hidden;
    height: 80px;

    background: white;
    border: 1px black solid;
    border-radius: 8px;
    box-shadow: none;
    margin: 8px 0px;
    }

  .card-product img {
    height: 100%;
    // width: 60px;
    // height: 60px;
    // border-radius: 50%;
    object-fit: cover
  }



  a {
    text-decoration: none;
    color: black;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product .card-product-infos {
    padding: 16px;
  }

  .household-admin{

    img {
    border: 3px red solid
    }
  }



  .tasks {
    margin-top: 16px;
    .card-product {
      padding: 0px;
    }

    .card-product img {
      padding: 0px;
      width: 80px;
      height: 80px;
    }

  }
}


.suggested-tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Space between each pill */
}

.suggested-task-pill {
  display: block;
  background-color: #f5f5f5; /* Light grey background */
  border-radius: 50px; /* Creates the pill shape */
  padding: 15px 25px; /* Adds padding inside the pill */
  text-align: center;
  text-decoration: none; /* Removes underline from the link */
  color: black; /* Text color */
  border: 2px solid #ccc; /* Light border */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition on hover */


  &:hover {
    background-color: #e0e0e0; /* Darker grey on hover */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
  }

  .card-content {
    margin: 0;

    h2 {
      font-size: 18px; /* Smaller font for titles */
      margin-bottom: 5px;
    }

    p {
      margin: 0;
      font-size: 14px;
    }

    .task-frequency {
      font-size: 12px;
    }
  }



}


.members {
  margin-top: 16px;
  text-align: start;


  .card-product img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .card-product {
    display: flex;
    justify-content: start;
    padding: 10px;
    overflow: hidden;
    height: 80px;
    background: white;
    border: 1px black solid;
    border-radius: 8px;
    box-shadow: none;

  }
  .card-product .card-product-infos {
    padding: 0px;
    margin-left: 8px;
  }






}
