.animation svg{
 max-width: 75%;
 max-height: 75%;


}

#modal-content {
  text-align:center;
  margin: auto;
  max-height:480px;
}

// applied to '_list.html.erb' where the task cards are
// task-index renders these 'tasks list'
.task-index {
  padding: 16px;
  background-color: white;
  border: 1px black solid;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;


  .task-card-product {
    padding: 8px;
    overflow: hidden;
    width: 100%;
    height: 80px;
    background: white;
    border: 1px black solid;
    border-radius: 8px;
    display: flex;
    // align-items: center;

    img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      // height: 100%;
      // width: 120px;
      object-fit: cover;
    }

    .task-text {
      flex-grow: 3;
    }



    .task-card-product .task-card-product-infos {

    }
  }

  .task-card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .task-card-product p {
    color: gray;
    font-size: 12px;
    line-height: 1.4;

    margin-bottom: 0;
    margin-top: 4px;
    margin-right: 8px;
  }





}
