.garden-page {
  body {
    background-image: url('<%= asset_path("yellow-living-room-2.webp") %>')!important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }

}
