.garden-page {
  display: flex;
  justify-content: center;


  body {
    // background-image: url('<%= asset_path("yellow-living-room-2.webp") %>')!important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }


  .card-bg {


    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 43vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    border: 3px solid #000;
    margin: 8px;
    box-sizing: border-box;

    .block-bg-container  {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 10vh;
      width: 35vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      margin-top: 34px;
      position: absolute;
      position: relative;

      .user-container {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 58px 58px 58px 57px 58px;
        gap: 0px;
        align-items: center;
        position: absolute;
        top: -55px;
        left: 0px;

        img {
          width: 60px; /* Adjust width as needed */
          height: 80px; /* Maintain aspect ratio */
        }


        .badge {
        padding: 0px;
      }

      }


      .badge {
        padding: 0px;
      }

    }

    .user-name {
      background-color: $warning;
      border: 1px black solid;
      border-radius: 8px;
      padding: 4px 12px;


      h5 {
        margin: 0px;
        font-size: 15px;
      }

    }
  }
}

  .flower-card {
    overflow: hidden;
    height: 140px;
    background: white;
    display: flex;
    margin: 12px;
    align-items: center;
    border-radius: 23px;
    border: 1px solid #000;

    img {
      height: 100%;
      width: 99px;
      object-fit: cover;
      margin: 0px;
      padding: 19px;
    }

    h2 {
      font-size: 16px;
      font-weight: bold;
    }

    p {
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
    }


    button {
      border-radius: 32px;
      border:1px solid #000
    }

    .card-product-infos {
      padding: 16px;
      margin: 10px;

    }


    // needed??
    .flower-card-info {
      flex-grow: 1;
    }


  }
