<div class="task-index" style="width: 100%;">


  <%= month_calendar(events: @my_calendar_tasks, attribute: :deadline) do |date, submissions| %>
    <div class="day" data-bs-toggle="modal" data-bs-target="#modal-<%= date.to_s%>">
      <%= date.day %>
      <% user_submissions = submissions.select { |submission| submission.user == current_user } %>
      <% if user_submissions.any? %>
        <% user_submissions.each do |submission| %>
          <div class="task">
            <%= submission.user.username %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
