<div class="form container w-50 mt-3" style="background-color: white; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <h2>Create a Chore</h2>

    <%= render 'tasks/form' %>

</div>
