<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<div class="form container w-50 mt-3" style="background-color: white; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <%= simple_form_for [@user] do |f| %>
    <%# <%= f.association :user %>
    <%= f.input :household %>
    <%= f.submit "Submit", class: " btn btn-primary mb-2" %>
  <% end %>
</div>
