<div class="d-flex justify-content-center">
  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: <%= @progress_percentage %>%;" aria-valuenow="<%= @progress_percentage %>" aria-valuemin="0" aria-valuemax="100">
    <%= @progress_percentage %>%
  </div>
</div>
