<div class = "homebody">
<div class="container homecard justify-content-center m-5">
<div class = "align-items-center">
    <h1 class ="title strong mt-5">Chore</p>
    <h1 class ="title strong pt-0 mb-5">Quest</p>
  </div>

  <div class = "text-center">
    <%= link_to "Add new household",new_household_path, class:"btn btn-success homebutton p-2 px-3"%>
    <%= link_to "Sign Up",new_user_registration_path, class:"btn btn-danger homebutton p-2 px-3 mt-3"%>
  </div>
</div>
</div>
