<div class = "text-center">
<p>+ <%= current_user.points %> points!</p>
<p>Good job!</p>

<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
<dotlottie-player src="https://lottie.host/ade43557-d913-4ec4-8e9f-08af9c984bd5/pDi8nw0uPR.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
</div>
