<p>http://localhost:3000/submissions/new</p>

<%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :task %>
    <%= f.submit 'Submit', class: 'btn btn-danger mt-2' %>
  <% end %>

<ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.title %>
      </li>
    <% end %>
</ul>
