<p>http://localhost:3000/submissions/new</p>


<%# <form>
  <input type="text" name="member" placeholder="Who are you looking for?">
  <input type="submit" class="btn btn-warning"
  data-controller="confetti"
  data-action="click->confetti#spray"
  data-confetti-animation-value="basic">
</form> %>
