.navbar-lewagon {
  justify-content: space-between;
  padding: 16px;


  // for NAVBAR to stick
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  li {
    text-align: end;
  }

  i {
    margin: 4px;
    align-content: center;
    padding: 0px;

  }

  p {
    margin: 4px;
    text-align: start;
    padding: 0;
  }

  .navbar-coin {
    padding-left: 8px;
  }

  .navbar-level {
    padding-left: 8px;
  }

  img {
    align-content: top;
  }

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}




//Navbar FOOTER

body {
  position: relative;
  min-height: 100vh;

  margin: 0; /* Reset margins */
  padding: 0;

  .navbar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    background-color: white;
    height: 56px;

    .navbar-footer-btn{
      color: black;


    }
  }
}
