.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // for NAVBAR to stick
  // position: fixed;
  // left: 0;
  // top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


//Navbar FOOTER

body {
  position: relative;
  min-height: 100vh;

  .navbar-footer {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
    background-color: white;
    height: 56px;

    .navbar-footer-btn{
      margin: 8px;
      height: 50px;
    }
  }
}
