
<div class="form container w-50 mt-3" style="background-color: white; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <h2>Add a member</h2>
  <form>
    <label for="username">Members' username:</label><br>
    <input type="text" id="fname" name="username" class="mb-3"><br>
    <input type="submit" value="Submit" class="mb-3">
  </form>
</div>
