<div class="p-2">
  <h1>Today's Chores</h1>
  <%= Date.today %>
  <div class="view-task-categories py-3">
  </div>
    <div class="border">
      <% @users.each do |user|%>
        <img style="width: 40px;" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% user.username %>
      <% end %>
    </div>

</div>
